window {
    background: black;
    opacity: 0.9;
}

/* Outer bar container, takes all the window width/height */
#outer-box {
    margin: 0px
}

/* Inner bar container, surrounds buttons */
#inner-box {
    background: black;
    opacity: 0.9;
    border-radius: 10px;
    border-style: none;
    border-width: 1px;
    border-color: tan;
    padding: 5px;
    margin: 5px
}

button, image {
    background: none;
    border: none;
    box-shadow: none
}

button {
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px
}

button:hover {
    background: white;
    opacity: 0.1;
}
