nvim/plugged
nvim/.netrwhist
.DS_Store
*.swp
fishd.*
fish/functions/fzf_key_bindings.fish
/fish/private_variables.fish
fish/fish_history
/zsh/ebaliases.sh
/spacemacs/snippets/text-mode/phabricator_username_*
/spacemacs/.spacemacs
/.config/karabiner/automatic_backups/
/.config/karabiner/assets/
/.config/doctl/cache/
/.config/configstore/
/.config/doctl/
/stowed/nixpkgs/.config/nixpkgs/localhome/default.nix
nixpkgs/localhome/default.nix
/nixpkgs/darwin/local_config.nix
/nixpkgs/darwin/pii.nix
__pycache__/
