theme "rose-pine-moon";
on_force_close "detach"
pane_frames false
default_layout "basic"
default_mode "locked"
scroll_buffer_size 20000
copy_clipboard "primary"  // primary or system, default is system
copy_on_select true

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
}

keybinds clear-defaults=true {
  normal {
    bind "Esc" { SwitchToMode "locked"; }  // TODO rm when shared or shared_except works
    bind "Enter" { SwitchToMode "locked"; }
    bind "r" { SwitchToMode "resize"; }
    bind "w" { SwitchToMode "pane"; }
    bind "Tab" { SwitchToMode "tab"; }
    bind "g" { SwitchToMode "session"; }
    bind "?" { SwitchToMode "scroll"; }

	bind "Alt h" { MoveFocus "Left"; }
	bind "Alt j" { MoveFocus "Down"; }
	bind "Alt k" { MoveFocus "Up"; }
	bind "Alt l" { MoveFocus "Right"; }

	bind "1" { GoToTab 1; SwitchToMode "locked";}
	bind "2" { GoToTab 2; SwitchToMode "locked";}
	bind "3" { GoToTab 3; SwitchToMode "locked";}
	bind "4" { GoToTab 4; SwitchToMode "locked";}
	bind "5" { GoToTab 5; SwitchToMode "locked";}
	bind "6" { GoToTab 6; SwitchToMode "locked";}
	bind "7" { GoToTab 7; SwitchToMode "locked";}
	bind "9" { GoToTab 9; SwitchToMode "locked";}
	bind "Ctrl [" { PreviousSwapLayout; }
	bind "Ctrl ]" { NextSwapLayout; }
  }

  pane {
    bind "Esc" { SwitchToMode "locked"; }  // TODO rm when shared or shared_except works

	bind "Alt m" { MovePane "Left"; }
	bind "Alt n" { MovePane "Down"; }
	bind "Alt e" { MovePane "Up"; }
	bind "Alt i" { MovePane "Right"; }

	bind "m" { MoveFocus "Left"; SwitchToMode "locked"; }
	bind "n" { MoveFocus "Down"; SwitchToMode "locked"; }
	bind "e" { MoveFocus "Up"; SwitchToMode "locked"; }
	bind "i" { MoveFocus "Right"; SwitchToMode "locked"; }

    bind "h" { NewPane; SwitchToMode "locked"; }
    bind "d" { CloseFocus; SwitchToMode "locked"; }
    bind "f" { ToggleFocusFullscreen; SwitchToMode "locked"; }
    bind "F" { TogglePaneEmbedOrFloating; ToggleFocusFullscreen; SwitchToMode "locked"; }

    bind "s" { NewPane "Down"; SwitchToMode "locked"; }
    bind "v" { NewPane "Right"; SwitchToMode "locked"; }

    bind "z" { TogglePaneFrames; SwitchToMode "locked"; }

    bind "p" { ToggleFloatingPanes; SwitchToMode "locked"; }
    bind "P" { TogglePaneEmbedOrFloating; SwitchToMode "locked"; }

  }

  resize {
    bind "Esc" { SwitchToMode "locked"; }  // TODO rm when shared or shared_except works

	bind "m" { Resize "Left"; }
	bind "n" { Resize "Down"; }
	bind "e" { Resize "Up"; }
	bind "i" { Resize "Right"; }
	bind "M" { Resize "Decrease Left"; }
	bind "N" { Resize "Decrease Down"; }
	bind "E" { Resize "Decrease Up"; }
	bind "I" { Resize "Decrease Right"; }
    bind "+" { Resize "Increase"; }
    bind "-" { Resize "Decrease"; }
  }

  tab {
    bind "Esc" { SwitchToMode "locked"; }  // TODO rm when shared or shared_except works

    bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }

    bind "m" "e" "[" { GoToPreviousTab; }
    bind "i" "n" "]" { GoToNextTab; }
    bind "n" { NewTab; SwitchToMode "renametab"; TabNameInput 0; }
    bind "d" { CloseTab; SwitchToMode "locked"; }
    bind "1" { GoToTab 1; SwitchToMode "locked"; }
    bind "2" { GoToTab 2; SwitchToMode "locked"; }
    bind "3" { GoToTab 3; SwitchToMode "locked"; }
    bind "4" { GoToTab 4; SwitchToMode "locked"; }
    bind "5" { GoToTab 5; SwitchToMode "locked"; }
    bind "6" { GoToTab 6; SwitchToMode "locked"; }
    bind "7" { GoToTab 7; SwitchToMode "locked"; }
    bind "8" { GoToTab 8; SwitchToMode "locked"; }
    bind "9" { GoToTab 9; SwitchToMode "locked"; }
    bind "Tab" { ToggleTab; SwitchToMode "locked"; }
  }

  renametab {
    bind "Esc" { UndoRenameTab; SwitchToMode "locked"; }
    bind "Enter" { SwitchToMode "locked"; }
  }

  session {
    bind "Esc" { SwitchToMode "locked"; }  // TODO rm when shared or shared_except works

    bind "g" {
      Run "gitui" {
        direction "up"
        close-on-exit true
        name "gitui"
      };
      ToggleFocusFullscreen;
      SwitchToMode "locked";
    }
  }

  scroll {
    bind "Esc" { ScrollToBottom; SwitchToMode "locked"; }
    bind "Alt /" { SwitchToMode "EnterSearch"; SearchInput 0; }

    bind "e" { EditScrollback; SwitchToMode "Normal"; }
    bind "n" { ScrollDown; }
    bind "e" { ScrollUp; }
    bind "[" { PageScrollUp; }
    bind "]" { PageScrollDown; }
    bind "{" { HalfPageScrollUp; }
    bind "}" { HalfPageScrollDown; }
  }

  locked {
    bind "Alt m" { SwitchToMode "normal"; }

	bind "Alt q" { Detach; }
	bind "Alt Q" { Quit; }
  }

}
